In [2]:
# 定义全局函数便于直接调用处理
from datetime import datetime

import pandas as pd
import numpy as np
from datetime import date
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import boxcox
datapath = 'D:/outsourcing/data/'
featurepath = 'D:/outsourcing/feature/'
resultpath = 'D:/outsourcing/result/'
tmppath = 'D:/outsourcing/tmp/'

In [14]:
BOX_Subtrain = pd.read_csv(tmppath+'BOX_Subtrain.csv')
#这是已经数据BOX变化，离散特征未处理的结果

In [15]:
BOX_Subtrain.head(10)

,seg_flight,seg_cabin,tkt_all_amt_y2,pax_tax,tkt_avg_amt_m6,tkt_avg_amt_y1,dist_cnt_y3,tkt_avg_amt_y2,pax_fcny,tkt_all_amt_y1,...,pref_dest_city_m6,pref_dest_city_y3,pref_month_y3_1,seg_dep_time_month,tkt_3y_amt,tkt_d_amt_y1,tkt_d_amt_y3,tkt_i_amt_y2,tkt_i_amt_y3,emd_lable2
0,AB1006,J,0.00496,0.000793,0.0,0.000000,0.00000,0.009770,0.000892,0.00000,...,0,0,0,12,0.001132,0.0,0.000000,0.005570,0.002203,0
1,AB1006,J,0.01027,0.000341,0.0,0.004982,0.00000,0.011790,0.000378,0.00573,...,0,New York,2,2,0.001132,0.0,0.001396,0.011090,0.010590,0
2,AB1009,Y,0.00496,0.000413,0.0,0.000000,0.00000,0.009770,0.000057,0.00000,...,0,0,0,3,0.001132,0.0,0.000000,0.005570,0.002203,0
3,AB1009,Y,0.00496,0.000619,0.0,0.000000,0.01813,0.009770,0.000310,0.00000,...,0,Los Angeles,12,1,0.004547,0.0,0.000000,0.005570,0.010635,0
4,AB1010,Y,0.00496,0.000389,0.0,0.000000,0.02075,0.009770,0.000156,0.00000,...,0,0,0,7,0.004578,0.0,0.000000,0.005570,0.002203,1
5,AB1009,Y,0.00496,0.000409,0.0,0.000000,0.00000,0.009770,0.000058,0.00000,...,0,0,0,3,0.001132,0.0,0.000000,0.005570,0.002203,0
6,AB1006,Y,0.00496,0.000401,0.0,0.000000,0.00000,0.009770,0.000162,0.00000,...,0,0,0,8,0.001132,0.0,0.000000,0.005570,0.002203,0
7,AB1006,Y,0.00496,0.000618,0.0,0.000000,0.02290,0.009770,0.000279,0.00000,...,0,0,0,7,0.005050,0.0,0.000000,0.005570,0.002203,1
8,AB1006,Y,0.00677,0.000410,0.0,0.000000,0.00000,0.010735,0.000047,0.00000,...,0,Shanghai,12,12,0.001132,0.0,0.000000,0.007607,0.004726,0
9,AB1008,Y,0.00496,0.000602,0.0,0.000000,0.00000,0.009770,0.000070,0.00000,...,0,Shanghai,5,5,0.001132,0.0,0.000000,0.005570,0.006000,0

In [18]:
BOX_Subtrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23432 entries, 0 to 23431
Data columns (total 45 columns):
seg_flight            23432 non-null object
seg_cabin             23432 non-null object
tkt_all_amt_y2        23432 non-null float64
pax_tax               23432 non-null float64
tkt_avg_amt_m6        23432 non-null float64
tkt_avg_amt_y1        23432 non-null float64
dist_cnt_y3           23432 non-null float64
tkt_avg_amt_y2        23432 non-null float64
pax_fcny              23432 non-null float64
tkt_all_amt_y1        23432 non-null float64
pref_orig_m6_2        23432 non-null object
avg_dist_cnt_y1       23432 non-null float64
avg_dist_cnt_y2       23432 non-null float64
select_seat_cnt_y2    23432 non-null float64
select_seat_cnt_y3    23432 non-null float64
pit_all_amt           23432 non-null float64
dist_i_cnt_y2         23432 non-null float64
dist_i_cnt_y3         23432 non-null float64
pit_now_cons_amt      23432 non-null float64
pref_line_y1_2        23432 non-null object
dist_all_cnt_y2       23432 non-null float64
pref_line_y1_3        23432 non-null object
pref_line_y2_2        23432 non-null object
pref_line_y2_3        23432 non-null object
pit_accu_amt_y3       23432 non-null float64
pref_line_y3_3        23432 non-null object
pref_line_y3_4        23432 non-null object
pref_line_y3_5        23432 non-null object
pit_cons_amt_y2       23432 non-null float64
pref_aircraft_y3_3    23432 non-null object
pit_avg_amt_m6        23432 non-null float64
pref_city_y1_2        23432 non-null object
pref_city_y3_4        23432 non-null object
pit_add_air_amt_y3    23432 non-null float64
pit_add_non_amt_y3    23432 non-null float64
pref_dest_city_m6     23432 non-null object
pref_dest_city_y3     23432 non-null object
pref_month_y3_1       23432 non-null int64
seg_dep_time_month    23432 non-null int64
tkt_3y_amt            23432 non-null float64
tkt_d_amt_y1          23432 non-null float64
tkt_d_amt_y3          23432 non-null float64
tkt_i_amt_y2          23432 non-null float64
tkt_i_amt_y3          23432 non-null float64
emd_lable2            23432 non-null int64
dtypes: float64(27), int64(3), object(15)
memory usage: 8.0+ MB

In [8]:
BOX_Subtest = pd.read_csv(tmppath+'BOX_Subtest.csv')
#这是已经数据BOX变化，离散特征未处理的结果

In [9]:
BOX_Subtest.head(10)

,seg_flight,seg_cabin,tkt_all_amt_y2,pax_tax,tkt_avg_amt_m6,tkt_avg_amt_y1,dist_cnt_y3,tkt_avg_amt_y2,pax_fcny,tkt_all_amt_y1,...,pit_add_non_amt_y3,pref_dest_city_m6,pref_dest_city_y3,pref_month_y3_1,seg_dep_time_month,tkt_3y_amt,tkt_d_amt_y1,tkt_d_amt_y3,tkt_i_amt_y2,tkt_i_amt_y3
0,AB1010,Y,0.009865,0.000313,0.00287,0.004704,0.00000,0.011110,0.000079,0.005592,...,0.0,Shanghai,Shanghai,5,4,0.001132,0.0,0.001492,0.010680,0.009605
1,AB1008,Y,0.004960,0.000343,0.00000,0.000000,0.00000,0.009770,0.000059,0.000000,...,0.0,0,0,0,12,0.001132,0.0,0.000000,0.005570,0.002203
2,AB1010,Y,0.006096,0.000561,0.00000,0.000000,0.00000,0.010840,0.000111,0.000000,...,0.0,0,KUALA LUMPUR,12,11,0.001132,0.0,0.000000,0.006860,0.003763
3,AB1009,Y,0.004960,0.000775,0.00000,0.000000,0.02107,0.009770,0.000093,0.000000,...,0.0,0,0,0,12,0.003067,0.0,0.000000,0.005570,0.002203
4,AB1006,Y,0.004960,0.000383,0.00000,0.000000,0.00000,0.009770,0.000116,0.000000,...,0.0,0,0,0,10,0.001132,0.0,0.000000,0.005570,0.002203
5,AB1010,Y,0.004960,0.000557,0.00000,0.000000,0.00000,0.009770,0.000037,0.000000,...,0.0,0,0,0,3,0.001132,0.0,0.000000,0.005570,0.002203
6,AB1006,Y,0.007656,0.000573,0.00000,0.000000,0.00000,0.011116,0.000071,0.000000,...,0.0,0,Shanghai,12,12,0.001132,0.0,0.000000,0.008575,0.006054
7,AB1006,Y,0.004960,0.000384,0.00000,0.000000,0.00000,0.009770,0.000093,0.000000,...,0.0,0,Shanghai,11,12,0.001132,0.0,0.000000,0.005570,0.005505
8,AB1008,Y,0.004960,0.000361,0.00000,0.000000,0.00000,0.009770,0.000050,0.000000,...,0.0,0,0,0,6,0.001132,0.0,0.000000,0.005570,0.002203
9,AB1009,Y,0.008835,0.000620,0.00000,0.000000,0.02193,0.011505,0.000139,0.000000,...,0.0,0,Los Angeles,8,9,0.005090,0.0,0.000381,0.009800,0.009210

In [10]:
Subtrain = pd.read_csv(tmppath+'Subtrain.csv')

In [11]:
Subtrain.head(10)

,seg_flight,seg_cabin,tkt_all_amt_y2,pax_tax,tkt_avg_amt_m6,tkt_avg_amt_y1,dist_cnt_y3,tkt_avg_amt_y2,pax_fcny,tkt_all_amt_y1,...,pref_dest_city_m6,pref_dest_city_y3,pref_month_y3_1,seg_dep_time_month,tkt_3y_amt,tkt_d_amt_y1,tkt_d_amt_y3,tkt_i_amt_y2,tkt_i_amt_y3,emd_lable2
0,AB1006,J,0.00,584.43,0.0,0.0,0,0.0,4161.0,0.00,...,0,0,0,12,0.00,0.0,0.0,0.00,0.00,0
1,AB1006,J,9760.67,248.80,0.0,2950.0,0,3254.0,1670.0,8850.67,...,0,New York,2,2,0.00,0.0,910.0,8850.67,8850.67,0
2,AB1009,Y,0.00,301.31,0.0,0.0,0,0.0,243.0,0.00,...,0,0,0,3,0.00,0.0,0.0,0.00,0.00,0
3,AB1009,Y,0.00,454.16,0.0,0.0,21675,0.0,1362.0,0.00,...,0,Los Angeles,12,1,4334.43,0.0,0.0,0.00,9030.06,0
4,AB1010,Y,0.00,284.11,0.0,0.0,28705,0.0,675.0,0.00,...,0,0,0,7,4392.89,0.0,0.0,0.00,0.00,1
5,AB1009,Y,0.00,298.23,0.0,0.0,0,0.0,250.0,0.00,...,0,0,0,3,0.00,0.0,0.0,0.00,0.00,0
6,AB1006,Y,0.00,292.73,0.0,0.0,0,0.0,700.0,0.00,...,0,0,0,8,0.00,0.0,0.0,0.00,0.00,0
7,AB1006,Y,0.00,453.66,0.0,0.0,37372,0.0,1222.0,0.00,...,0,0,0,7,5484.51,0.0,0.0,0.00,0.00,1
8,AB1006,Y,1255.28,299.61,0.0,0.0,0,313.8,200.0,0.00,...,0,Shanghai,12,12,0.00,0.0,0.0,1255.28,1255.28,0
9,AB1008,Y,0.00,441.96,0.0,0.0,0,0.0,302.0,0.00,...,0,Shanghai,5,5,0.00,0.0,0.0,0.00,2080.96,0

In [12]:
Subtest = pd.read_csv(tmppath+'Subtest.csv')

In [13]:
Subtest.head(10)

,seg_flight,seg_cabin,tkt_all_amt_y2,pax_tax,tkt_avg_amt_m6,tkt_avg_amt_y1,dist_cnt_y3,tkt_avg_amt_y2,pax_fcny,tkt_all_amt_y1,...,pit_add_non_amt_y3,pref_dest_city_m6,pref_dest_city_y3,pref_month_y3_1,seg_dep_time_month,tkt_3y_amt,tkt_d_amt_y1,tkt_d_amt_y3,tkt_i_amt_y2,tkt_i_amt_y3
0,AB1010,Y,6821.75,227.81,104.2,282.2,0,525.0,339.0,3669.34,...,0,Shanghai,Shanghai,5,4,0.00,0.0,5758.36,6203.39,6203.39
1,AB1008,Y,0.00,250.15,0.0,0.0,0,0.0,255.0,0.00,...,0,0,0,0,12,0.00,0.0,0.00,0.00,0.00
2,AB1010,Y,728.85,411.21,0.0,0.0,0,364.5,479.0,0.00,...,0,0,KUALA LUMPUR,12,11,0.00,0.0,0.00,728.85,728.85
3,AB1009,Y,0.00,571.60,0.0,0.0,29761,0.0,400.0,0.00,...,0,0,0,0,12,1980.86,0.0,0.00,0.00,0.00
4,AB1006,Y,0.00,279.66,0.0,0.0,0,0.0,500.0,0.00,...,0,0,0,0,10,0.00,0.0,0.00,0.00,0.00
5,AB1010,Y,0.00,407.75,0.0,0.0,0,0.0,160.0,0.00,...,0,0,0,0,3,0.00,0.0,0.00,0.00,0.00
6,AB1006,Y,2117.98,419.83,0.0,0.0,0,529.5,304.0,0.00,...,0,0,Shanghai,12,12,0.00,0.0,0.00,2117.98,2117.98
7,AB1006,Y,0.00,279.86,0.0,0.0,0,0.0,400.0,0.00,...,0,0,Shanghai,11,12,0.00,0.0,0.00,0.00,1738.93
8,AB1008,Y,0.00,263.45,0.0,0.0,0,0.0,215.0,0.00,...,0,0,0,0,6,0.00,0.0,0.00,0.00,0.00
9,AB1009,Y,3813.83,455.51,0.0,0.0,32939,953.5,599.0,0.00,...,0,0,Los Angeles,8,9,5584.76,0.0,97.57,3813.83,5487.19

In [23]:
X_train.head(5)

,seg_flight,seg_cabin,tkt_all_amt_y2,pax_tax,tkt_avg_amt_m6,tkt_avg_amt_y1,dist_cnt_y3,tkt_avg_amt_y2,pax_fcny,tkt_all_amt_y1,...,select_seat_cnt_y3_multi_tkt_avg_amt_y1,select_seat_cnt_y3_add_pit_accu_amt_y3,select_seat_cnt_y3_mins_pit_accu_amt_y3,select_seat_cnt_y3_div_pit_accu_amt_y3,select_seat_cnt_y3_multi_pit_accu_amt_y3,select_seat_cnt_y3_add_select_seat_cnt_y3,select_seat_cnt_y3_mins_select_seat_cnt_y3,select_seat_cnt_y3_div_select_seat_cnt_y3,select_seat_cnt_y3_multi_select_seat_cnt_y3,emd_lable2
0,AB1006,J,0.00496,0.000793,0.0,0.000000,0.00000,0.00977,0.000892,0.00000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,AB1006,J,0.01027,0.000341,0.0,0.004982,0.00000,0.01179,0.000378,0.00573,...,0.004982,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,AB1009,Y,0.00496,0.000413,0.0,0.000000,0.00000,0.00977,0.000057,0.00000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,AB1009,Y,0.00496,0.000619,0.0,0.000000,0.01813,0.00977,0.000310,0.00000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,AB1010,Y,0.00496,0.000389,0.0,0.000000,0.02075,0.00977,0.000156,0.00000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1